/* The layout */
html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

/* Content */
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    position: relative;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(28,111,255,0.5);
    width: 95%;
    height: 100px;
    text-align: center;
}

.card_header{
    position:relative;
    display:flex;
    align-items:center;
    background-color: rgb(64, 158, 255);
    text-align: left;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
    width: 100%;
    height: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgba(128, 126, 126, 0.5);
    box-shadow: 0px 0px 10px rgba(28,111,255,0.5);
}

.card_body{
    letter-spacing: 3px;
    width: 100%;
    height: 70%;
}
